.pharmacies{
	position: relative;
}
/*форма поиска*/
.pharmacies>form>.input-group>.form-control{
	font-size: 1.6em;
	height: 40px;
}

.pharmacies>form>.input-group>span{
	position: static;
	cursor: pointer;

	background-color: #fff;
	border-right: none;
}
/*выпадающее меню поиска*/
.search-result{
	position: absolute;
	//left: 39px;
	width: 1000px;
	background: #fff;
	z-index: 20;

	border: 1px solid #333;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	padding: 5px;
}

.search-result>li{
	width: 100%;
	list-style-type: none;
	font-size: 1.2em;
	//margin-bottom: 5px;
}

.search-result>li>a{
	display: block;
	text-indent: 10px;
	text-decoration: none;
	color: #696969;
}

.search-result>li>a:hover{
	background: #14960F;
	border-radius: 3px;
	color: #fff;
}

/*раойн*/
.area{
	margin-top: 15px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 5px;
}

.area-title{
	display: inline-block;
	margin-left: 20px;
	width: 80px;
}

.area-title>p{
	font-size: 1.2em;
	color: #555;
}
/*список районов*/
.area-list{
	width: 800px;
	display: inline-block;
	margin-left: 10px;
}

.area-list>p{
	font-size: 1.1em;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.area-list>.select{
	color: red;
}
/*параметры*/
.parameters{
	position: relative;
}

.parameters>div{
	display: inline-block;
	width: 200px;
}

.parameters>.worktime{
	width: 250px;
}

.parameters>div>span{
	color: #696969;
}

.parameters>div>.sort-type{
	
	color: red;
	cursor: pointer;
}

.sortlist{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FCF7DB;
	border: 1px solid #C2C798;
	border-radius: 3px;
}

.firstList{
	position: absolute;
	top: 20px;
	left: 90px;
	z-index: 10;
}

.secondList{
	position: absolute;
	top: 20px;
	left: 303px;
	z-index: 10;
}

.sortlist>span{
	display: block;
	cursor: pointer;
}

.sortlist>.select{
	font-weight: bolder;
}

/*yandex map*/
.ymap{
	width: 550px;
	height: 650px;
	float: right;
	display: inline-block;
}

/*аптеки*/
.pharms{
	width: 445px;
	max-height: 650px;
	display: inline-block;
	overflow-y: scroll;
}

.pharm{
	border-bottom: 1px solid #eaeaea;
	margin-left: 5px;
	margin-right: 5px;
}

.pharm>div{
	padding-bottom: 10px;
}

.pharm>div>.name{
	font-size: 1.3em;
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

.pharm>div>span{
	float: right;
	cursor: pointer;
	margin-right: 10px;
}

.pharm>.phone, .pharm>.time{
	display: inline-block;
	color: #696969;
	width: 200px;
}