<div class="pharmacies">
	<form>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-search">
			</span>
			<input type="text" class="form-control" placeholder="Название аптеки"/>
		</div>
	</form>

	<div class="area">
		<div class="area-title">
			<p>Район <span class="glyphicon glyphicon-chevron-right"></span></p>
		</div>
		<div class="area-list">
			<p (click)="setArea(0)" [ngClass]="{'select': area === 0}">Все районы</p>
			<p (click)="setArea(1)" [ngClass]="{'select': area === 1}">Гагаринский</p>
			<p (click)="setArea(2)" [ngClass]="{'select': area === 2}">Ленинский</p>
			<p (click)="setArea(3)" [ngClass]="{'select': area === 3}">Нахимовский</p>
			<p (click)="setArea(4)" [ngClass]="{'select': area === 4}">Балаклавский</p>
		</div>
	</div>

	<div class="parameters">
		<span>Сортировать: </span><span class="sort-type" (click)="showSortList = !showSortList">{{sortTitle}}</span>
	

		<div class="sortlist" *ngIf="showSortList">
			<span (click)="onSort('name')" [ngClass]="{'select': sortBy === 'name'}">по названию</span>
			<span (click)="onSort('address')" [ngClass]="{'select': sortBy === 'address'}">по адресу</span>
		</div>
	</div>

	<div class="pharms">
		<div *ngFor="let pharm of pharms" class="pharm">
			<p class="name">{{pharm.name}}</p>
			<p class="adress">{{pharm.address}}</p>
			<p class="phone"><span class="glyphicon glyphicon-phone-alt"></span>  {{pharm.phone}}</p>
			<p class="time">
				<span class="glyphicon glyphicon-time"></span> {{pharm.worktime}}
			</p>
		</div>
	</div>

	<div class="ymap" id="mymap"></div>
</div>