<div class="pharmacies">
	<form (submit)="onSubmit(pharmTerm.value); onShowSearchRes(false)">
		<div class="input-group">
			<span (click)="onSubmit(pharmTerm.value); onShowSearchRes(false)" class="input-group-addon glyphicon glyphicon-search">
			</span>
			<input (focus)="onShowSearchRes(true)" (blur)="onShowSearchRes(false)" type="text" #pharmTerm (keyup)="searchPharm(pharmTerm.value)" class="form-control" placeholder="Название аптеки"/>
		</div>
	</form>

	<ul class="search-result" *ngIf="items?.length>0 && showItems">
		<li *ngFor="let item of items">
			<a (mouseover)="(resultsIsShow = true)" (mouseleave)="(resultsIsShow = false)" routerLink="/pharmacies/{{item.id}}" routerLinkActive="active">{{item.name}} ({{item.address}})</a>
		</li>
	</ul>

	<div class="area">
		<div class="area-title">
			<p>Район <span class="glyphicon glyphicon-chevron-right"></span></p>
		</div>
		<div class="area-list">
			<p (click)="setArea(0, 'Все')" [ngClass]="{'select': area === 0}">Все районы</p>
			<p (click)="setArea(1, 'Гагаринский')" [ngClass]="{'select': area === 1}">Гагаринский</p>
			<p (click)="setArea(2, 'Ленинский')" [ngClass]="{'select': area === 2}">Ленинский</p>
			<p (click)="setArea(3, 'Нахимовский')" [ngClass]="{'select': area === 3}">Нахимовский</p>
			<p (click)="setArea(4, 'Балаклавский')" [ngClass]="{'select': area === 4}">Балаклавский</p>
		</div>
	</div>

	<div class="parameters">
		<div>
			<span>Сортировать: </span><span class="sort-type" (click)="showSortList = !showSortList">{{sortTitle}}</span>

			<div class="sortlist firstList" *ngIf="showSortList">
				<span (click)="onSort('name')" [ngClass]="{'select': sortBy === 'name'}">по названию</span>
				<span (click)="onSort('address')" [ngClass]="{'select': sortBy === 'address'}">по адресу</span>
			</div>
		</div>

		<div class="worktime">
			<span>Режим работы: </span><span class="sort-type" (click)="showWorkTimes = !showWorkTimes">{{workTitle}}</span>

			<div class="sortlist secondList" *ngIf="showWorkTimes">
				<span (click)="onWorktimeChange('all')" [ngClass]="{'select': workTime === 'all'}">все</span>
				<span (click)="onWorktimeChange('day')" [ngClass]="{'select': workTime === 'day'}">дневные</span>
				<span (click)="onWorktimeChange('allday')" [ngClass]="{'select': workTime === 'allday'}">круглосуточные</span>
			</div>
		</div>
	
	</div>

	<div class="pharms">
		<div *ngFor="let pharm of pharms" class="pharm">
			<div>
				<a routerLink="/pharmacies/{{pharm.id}}" routerLinkActive="active" class="name">{{pharm.name}}</a>
			</div>
			<p class="adress">{{pharm.address}}</p>
			<p class="phone"><span class="glyphicon glyphicon-phone-alt"></span>  {{pharm.phone}}</p>
			<p class="time">
				<span class="glyphicon glyphicon-time"></span> {{pharm.worktime}}
			</p>
		</div>
	</div>

	<div class="ymap" id="mymap"></div>
</div>