<div class="search">
	<form>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-search">
			</span>
			<input type="text" class="form-control" placeholder="Название аптеки"/>
		</div>
	</form>

	<div class="area">
		<div class="area-title">
			<p>Район <span class="glyphicon glyphicon-chevron-right"></span></p>
		</div>
		<div class="area-list">
			<p class="select">Все районы</p>
			<p>Гагаринский</p>
			<p>Ленинский</p>
			<p>Нахимовский</p>
			<p>Балаклавский</p>
		</div>
	</div>

	<div class="ymap" id="mymap">
		
		</div>
</div>