
  	<div class="description">
        <h2>Приветствуем Вас на нашем сайте!</h2>
        <p>Данный сайт представляет собой информациооную систему справочной службы аптек.</p>
        <p>Здесь Вы можете найти нужный препатрат в соответствующей ценовой категории, посмотреть аптеки на городской карте с обозначением цены искомого товара, выбрать аптеку, и даже расширить поиск нужных лекарств уже в ней.</p>
        <p>Лекартсва размещены с использованием классификации АТХ, что позволяет упростить и ускорить поиск.</p>
        <p>Мы старались сделать сайт удобным поисковым ресурсом и надеемся, что он Вам понравится.</p>
    </div>
    <div *ngIf="sign === true" class="auth-user">
        <div class="user-header">
            <img class="user-icon img-circle" src="https://secure.gravatar.com/avatar/{{user.gravatar}}">
            <h3>{{user.name}}</h3>
        </div>
        <div>
            <div class="user-item">
                <span class="glyphicon glyphicon-home"></span>
                <a class="user-link" routerLink="/users/{{user.id}}" routerLinkActive="active">Профиль</a> 
            </div>
            <div class="user-item">
                <span class="glyphicon glyphicon-wrench"></span>
                <a class="user-link" routerLink="/users/{{user.id}}/edit" routerLinkActive="active">Редактировать</a>  
            </div>
            
            <button class="btn btn-danger" (click)="logOut()">
            <span class="glyphicon glyphicon-log-out"></span> Выйти</button>    
        </div>
    </div>
    <div *ngIf="sign === false" class="auth-fast">
        <h3>Войти на сайт</h3>
        <form>
            <label>Email</label>
            <input type="email" maxlength="30" class="form-control" id="email" required [(ngModel)]="session.email" name="email" [pattern]="pattern" #email="ngModel"/>

            <label>Пароль</label>
            <input type="password" minlength="6" maxlength="50" class="form-control" id="password" required [(ngModel)]="session.password" name="password" #password="ngModel"/>

            <div *ngIf="errorLog" class="alert alert-danger">
            Неверный email или пароль
            </div>
            <button type="submit" (click)="onSubmit()" class="btn btn-success">Войти</button>

        </form>
        <button class="btn btn-primary" routerLink="/signup" routerLinkActive="active">Регистрация</button>
    </div>
    