
  	<div class="description">
        <h2>Приветствуем Вас на нашем сайте!</h2>
        <p>Данный сайт представляет собой информациооную систему справочной службы аптек.</p>
        <p>Здесь Вы можете найти нужный препатрат в соответствующей ценовой категории, посмотреть аптеки на городской карте с обозначением цены искомого товара, выбрать аптеку, и даже расширить поиск нужных лекарств уже в ней.</p>
        <p>Лекартсва размещены с использованием классификации АТХ, что позволяет упростить и ускорить поиск.</p>
        <p>Мы старались сделать сайт удобным поисковым ресурсом и надеемся, что он Вам понравится.</p>
    </div>
    <div class="auth-fast">
        <h3>Войти на сайт</h3>
        <span>Email</span>
        <input type="text" class="form-control"/>
        <span>Пароль</span>
        <input type="text" class="form-control"/>
        <button class="btn btn-success">Войти</button>
        <button class="btn btn-primary">Регистрация</button>
    </div>