/*home divs*/
 .description{
 	margin-top: 20px;
	margin-bottom: 20px;
 	display: inline-block;
 	float: left;
 	width: 700px;
 }

 .description p{
 	color: #616161;
 	font-size: 1.1em;
 }

 .auth-fast, .auth-user{
 	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
 	display: inline-block;
 	float: right;
 	width: 260px;
 	background-color: #F7FBD5;

 	padding-left: 25px;
 	padding-right: 25px;
 	padding-bottom: 10px;

 	border-radius: 5px;
 	border: 1px solid #C2C798;
 }

 .auth-fast>form>.form-control{
 	margin-bottom: 15px;
 }

 .auth-fast>button, .auth-fast>form>button{
 	width: 100%;
 	margin-bottom: 15px;
 	border-radius: 0px;
 }

 .auth-fast>form>label{
 	font-weight: normal;
 }

 .user-icon{
  width: 40px;
  height: 40px;
  background-color: #fff;

  display: table-cell;

}

.user-header{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
}

.user-header>h3{
  display: table-cell;
  vertical-align: middle;
}

 .user-item{
 	margin-bottom: 5px;
 }

 .user-link{
 	text-decoration: none;
 	font-size: 1.1em;
 	color: #000;
 }

 .auth-user>div>button{
 	margin-top: 15px;
 	float: left;
 }