<div class="medicine-info">
	<p class="title">{{medicine.name}}</p>
	<p class="form-title">Лекарственная форма</p>
	<p class="form">{{medicine.form}}</p>
	<p class="package-title">Упаковка</p>
	<p class="package">{{medicine.pack}}</p>
</div>

<div class="availability">
	<div class="description">
		<p class="description-title">Описание</p>
		<p>{{medicine.comment}}</p>
	</div>

	<div class="available-pharmacies">
		<p>Наличие в аптеках</p>
		<div class="parameters">
			<div>
				<span>Сортировать: </span>
				<span class="order" (click)="showSortList = !showSortList">{{sortTitle}}</span>

				<div class="sortlist firstList" *ngIf="showSortList">
					<span (click)="onSort('name')" [ngClass]="{'select': sortBy === 'name'}">по названию</span>
					<span (click)="onSort('address')" [ngClass]="{'select': sortBy === 'address'}">по адресу</span>
					<span (click)="onSort('price')" [ngClass]="{'select': sortBy === 'price'}">по цене</span>
				</div>

			</div>
			<div class="worktime">
				<span>Режим работы: </span>
				<span class="order" (click)="showWorkTimes = !showWorkTimes">{{workTitle}}</span>

				<div class="sortlist secondList" *ngIf="showWorkTimes">
					<span (click)="onWorktimeChange('all')" [ngClass]="{'select': workTime === 'all'}">все</span>
					<span (click)="onWorktimeChange('day')" [ngClass]="{'select': workTime === 'day'}">дневные</span>
					<span (click)="onWorktimeChange('allday')" [ngClass]="{'select': workTime === 'allday'}">круглосуточные</span>
				</div>

			</div>
		</div>

		<div *ngIf="canChange == true" class="new-price">
			<form #newprice="ngForm">
				<label for="pharmacy_id">Название аптеки</label>
				<select class="form-control" id="pharmacy_id" required name="pharmacy_id" [(ngModel)]="newPrice.pharmacy_id" #pharmacy_id="ngModel">
					<option value="" disabled selected>Выберите аптеку</option>
					<option *ngFor="let pharmacy of pharmacies" [value]="pharmacy.id">{{pharmacy.name}} ({{pharmacy.address}})</option>
				</select>
				
				<div class="cost-div">
					<label for="price">Цена (руб.)</label>
					<input type="text" class="form-control" id="price" required [(ngModel)]="newPrice.price" name="price" #price="ngModel" placeholder="Формат: 0.00" pattern="^\d+[.]{1}\d{2}$"/>
				</div>

				<div>
					<label for="count">Количество (шт.)</label>
					<input type="text" class="form-control" id="count" required name="count" [(ngModel)]="newPrice.count" #count="ngModel" placeholder="Количество" pattern="^[0-9]+$"/>	
				</div>
				
				<div class="submition">
					<span class="glyphicon glyphicon-ok" title="Добавить" (click)="onSubmit()"></span>
					<span class="glyphicon glyphicon-remove" title="Отмена" (click)="onRefresh()"></span>
				</div>
				
			</form>
		</div>

		<div *ngFor="let price of prices" class="pharmacy">
			<div class="left">
				<div>
					<a class="name" routerLink="/pharmacies/{{price.id}}">{{price.name}}</a>
				</div>	
				<p class="address">{{price.address}}</p>
				<p class="phone"><span class="glyphicon glyphicon-phone-alt"></span>
				 {{price.phone}}</p>
				<p class="time"><span class="glyphicon glyphicon-time"></span> {{price.worktime}}</p>
			</div>
			<div class="right">
				<div>
					<p class="price">{{price.price | number: '1.2-2'}}</p>
					<span class="glyphicon glyphicon-rub"></span>
				</div>
				<p class="count">количество: {{price.count}}</p>
				<p class="date">{{price.updated_at | date: 'dd.MM.yyyy'}}</p>
			</div>
			<span *ngIf="canBuy === true && canChange === false && price.count > 0" class="glyphicon glyphicon-shopping-cart" title="Забронировать товар" (click)="onReserve(price); showDialog=true; $event.stopPropagation()"></span>

			<span *ngIf="canChange==true" class="glyphicon glyphicon-remove" title="Удалить товар из аптеки" (click)="onDestroy(price); $event.stopPropagation()"></span>
		</div>
	</div>

	<div *ngIf="showDialog == true" class="background" (click)="showDialog = false"></div>
	<div *ngIf="showDialog == true" class="showDialog">
		<span class="glyphicon glyphicon-remove" (click)="showDialog = false" title="Закрыть"></span>
		<p class="title">Препарат заказан</p>
		<p>Благодарим Вас за то, что пользуетесь нашим сервисом для заказа лекарств.</p>
		<p>Все заказы можно посмотреть на странице с <a routerLink="/users/{{user_id}}" routerLinkActive="active">Вашим профилем</a>.</p>
	</div>
</div>
