<div class="medicine-info">
	<p class="title">{{medicine.name}}</p>
	<p class="form-title">Лекарственная форма</p>
	<p class="form">{{medicine.form}}</p>
	<p class="package-title">Упаковка</p>
	<p class="package">{{medicine.pack}}</p>
</div>

<div class="availability">
	<div class="description">
		<p class="description-title">Описание</p>
		<p>{{medicine.comment}}</p>
	</div>

	<div class="available-pharmacies">
		<p>Наличие в аптеках</p>
		<div class="parameters">
			<div>
				<span>Сортировать: </span>
				<span class="order" (click)="showSortList = !showSortList">{{sortTitle}}</span>

				<div class="sortlist firstList" *ngIf="showSortList">
					<span (click)="onSort('name')" [ngClass]="{'select': sortBy === 'name'}">по названию</span>
					<span (click)="onSort('address')" [ngClass]="{'select': sortBy === 'address'}">по адресу</span>
					<span (click)="onSort('price')" [ngClass]="{'select': sortBy === 'price'}">по цене</span>
				</div>

			</div>
			<div class="worktime">
				<span>Режим работы: </span>
				<span class="order" (click)="showWorkTimes = !showWorkTimes">{{workTitle}}</span>

				<div class="sortlist secondList" *ngIf="showWorkTimes">
					<span (click)="onWorktimeChange('all')" [ngClass]="{'select': workTime === 'all'}">все</span>
					<span (click)="onWorktimeChange('day')" [ngClass]="{'select': workTime === 'day'}">дневные</span>
					<span (click)="onWorktimeChange('allday')" [ngClass]="{'select': workTime === 'allday'}">круглосуточные</span>
				</div>

			</div>
		</div>

		<div *ngIf="canChange == true" class="new-price">
			<form>
				<label for="pharmacy_name">Название аптеки</label>
				<select class="form-control" id="pharmacy_name" required name="pharmacy_name">
					<option value="" disabled selected>Выберите аптеку</option>
				</select>
				
				<div class="cost-div">
					<label for="cost">Цена</label>
					<input type="text" class="form-control" id="cost" required  name="cost" placeholder="Цена"/>
				</div>

				<div>
					<label for="count">Количество</label>
					<input type="text" class="form-control" id="count" required name="count" placeholder="Количество"/>	
				</div>
				
				<div class="submition">
					<span class="glyphicon glyphicon-ok" title="Добавить"></span>
					<span class="glyphicon glyphicon-remove" title="Отмена"></span>
				</div>
				
			</form>
		</div>

		<div *ngFor="let price of prices" class="pharmacy">
			<div class="left">
				<div>
					<a class="name" routerLink="/pharmacies/{{price.id}}">{{price.name}}</a>
				</div>	
				<p class="address">{{price.address}}</p>
				<p class="phone"><span class="glyphicon glyphicon-phone-alt"></span>
				 {{price.phone}}</p>
				<p class="time"><span class="glyphicon glyphicon-time"></span> {{price.worktime}}</p>
			</div>
			<div class="right">
				<div>
					<p class="price">{{price.price | number: '1.2-2'}}</p>
					<span class="glyphicon glyphicon-rub"></span>	
				</div>
				<p class="producer">производитель</p>
				<p class="date">{{price.updated_at | date: 'dd.MM.yyyy'}}</p>
			</div>
		</div>
	</div>
</div>
