<div class="wrapper">
<header>
	<div class="header-wrap">
		<div class="header">
			<div class="logo">
				<a routerLink="/home" routerLinkActive="active" (click)="setTitle('Справочная система аптек')">
					<img class="logo-img" src="../pharmacy1.png">
					<span class="logo-text">Справочная система аптек Севастополя</span>
				</a>
			</div>
			<nav>
				<div class="navigation">
					<div class="contacts">
						<span>Телефон справочной слубы:</span>
						<span class="glyphicon glyphicon-earphone"></span>
						<span class="phone">8-800-555-35-35</span>
					</div>
					<ul class="nav navbar-nav navbar-center">
					<li [class.selectedLink]="router.url === '/home'">
					<a routerLink="/home" routerLinkActive="active" (click)="setTitle('Справочная система аптек')">Главная</a>
					</li>
						
					<li [class.selectedLink]="router.url === '/groups'">
					<a routerLink="/groups" routerLinkActive="active" (click)="setTitle('Поиск лекарств')">Поиск лекарств</a>
					</li>

					<li [class.selectedLink]="router.url === '/pharmacies'">
					<a routerLink="/pharmacies" routerLinkActive="active" (click)="setTitle('Поиск аптек')">Поиск аптек</a>
					</li>
					</ul>	
				</div>
			</nav>
			<div class="login">
				<div *ngIf="sign === true" class="login-header" dropdown>
            		<img class="icon img-circle" src="https://secure.gravatar.com/avatar/{{user.gravatar}}">
            		<p dropdown-open>{{user.name}}</p>
            		<ul class="dropdown-menu">
			            <li><a routerLink="/users/{{user.id}}" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Профиль</a></li>
			            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Редактировать</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a class="logout" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
			        </ul>
        		</div>
        		<div *ngIf="sign === false" class="login-registr">
        			<span class="glyphicon glyphicon-log-in"></span>
        			<a routerLink="/home" routerLinkActive="active" (click)="setTitle('Справочная система аптек')">Вход</a>
        			<span class="glyphicon glyphicon-user"></span>
        			<a routerLink="/signup" routerLinkActive="active" (click)="setTitle('Справочная система аптек')">Регистрация</a>
        		</div>
			</div>
		</div>
	</div>
</header>
<div class="content">
	<router-outlet></router-outlet>
</div>

<footer>
	<div class="footer-content">
		<div class="site-map">
			<ul>
				<li><a routerLink="/home" routerLinkActive="active" (click)="setTitle('Справочная система аптек')">Главная</a></li>
				<li><a routerLink="/medicines" routerLinkActive="active" (click)="setTitle('Поиск лекарств')">Поиск лекарств</a></li>
				<li><a routerLink="/pharmacies" routerLinkActive="active" (click)="setTitle('Поиск аптек')">Поиск аптек</a></li>
			</ul>
		</div>
		<div class="contacts">
			<p>Справочная служба:</p>
			<span class="glyphicon glyphicon-earphone"></span>
			<span class="phone">8-800-555-35-35</span>
		</div>
	</div>
</footer>
</div>