.medicines{
	margin-bottom: 20px;
}
/*форма поиска*/
.medicines>form>.input-group>.form-control{
	font-size: 1.6em;
	height: 40px;
}

.medicines>form>.input-group>span{
	position: static;
	cursor: pointer;

	background-color: #fff;
	border-right: none;
}

/*выпадающее меню поиска*/
.search-result{
	position: absolute;
	//left: 39px;
	width: 1000px;
	background: #fff;
	z-index: 20;

	border: 1px solid #333;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	padding: 5px;
}

.search-result>li{
	width: 100%;
	list-style-type: none;
	font-size: 1.2em;
	//margin-bottom: 5px;
}

.search-result>li>a{
	display: block;
	text-indent: 10px;
	text-decoration: none;
	color: #696969;
}

.search-result>li>a:hover{
	background: #14960F;
	border-radius: 3px;
	color: #fff;
}

/**/
.medicines>p{
	color: #616161;
 	font-size: 1.1em;
}

.system{
	width: 500px;
	height: 230px;
	display: inline-block;
	margin-top: 15px;
}

.first-row{
	float: left;
}

.second-row{
	float: right;
}

.system>ul{
	margin-left: 20px;
	margin-right: 20px;
}

.system>ul>li{
	list-style-type: none;
}

.system>ul>li>a{
	text-decoration: none;
	color: #1D751A;
}