<div class="medicines">
	<form (submit)="onSubmit(medicineTerm.value); onShowSearchRes(false)">
		<div class="input-group">
			<span (click)="onSubmit(medicineTerm.value); onShowSearchRes(false)" class="input-group-addon glyphicon glyphicon-search">
			</span>
			<input (focus)="onShowSearchRes(true)" (blur)="onShowSearchRes(false)" type="text" #medicineTerm (keyup)="searchPharm(medicineTerm.value)" class="form-control" placeholder="Название лекарства"/>
		</div>
	</form>

	<ul class="search-result" *ngIf="items?.length>0 && showItems">
		<li *ngFor="let item of items">
			<a (mouseover)="(resultsIsShow = true)" (mouseleave)="(resultsIsShow = false)" routerLink="/medicines/{{item.id}}" routerLinkActive="active">{{item.name}} ({{item.form}})</a>
		</li>
	</ul>

	<h2>Классификация АТХ</h2>
	<p>Анатомо-терапевтическо-химическая классификация (АТХ) - международная система классификации лекарственных средств. Рекомендована Всемирной организацией здравоохранения.</p>
	<p>По классификации все лекартства делятся на группы по их основному терапевтическому применению.</p>
	<div class="system first-row">
		<ul>
			<li *ngFor="let group of atcGroups | slice:0:7">
				<a routerLink='/groups/{{group.code}}' routerLinkActive="active">
					<p><strong>{{group.code}}</strong> {{group.description}}</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="system second-row">
		<ul>
			<li *ngFor="let group of atcGroups | slice:7:14">
				<a routerLink='/groups/{{group.code}}' routerLinkActive="active">
					<p><strong>{{group.code}}</strong> {{group.description}}</p>
				</a>
			</li>
		</ul>
	</div>
</div>