.user-info, .orders{
	display: inline-block;
}

.user-info{
	//margin-right: 20px;
 	display: inline-block;
 	float: left;
 	width: 350px;
 	background-color: #F7FBD5;

 	padding-left: 25px;
 	padding-right: 25px;
 	padding-bottom: 10px;

 	border-radius: 5px;
 	border: 1px solid #C2C798;
 
}

.user-info>.user-header{
  margin-top: 15px;
  margin-bottom: 10px;
  height: 40px;
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
}

.user-info>.user-header>.user-icon{
  width: 40px;
  height: 40px;
  background-color: #fff;

  display: table-cell;

}

.user-info>.user-header>h3{
  display: table-cell;
  vertical-align: middle;
}

.user-info>table{
  width: 320px;

  border-collapse: separate;
  border-spacing: 5px;
}

.orders{
	width: 600px;
	float: right;
}