.user-info, .orders{
	display: inline-block;
}

.user-info{
	width: 400px;
	float: left;
}

.user-info>.info-tags{
	width: 150px;
	display: inline-block;
	float: left;
}

.user-info>.information{
	width: 150px;
	display: inline-block;
}

.orders{
	width: 600px;
	float: right;
}