<div class="user-info">
	<div class="user-header">
		<img class="user-icon img-circle" src="https://secure.gravatar.com/avatar/{{gravatar}}">
		<h3>{{user.name}}</h3>
	</div>

	<table>
		<tr>
			<td>Электронный адрес</td>
			<td>{{user.email}}</td>
		</tr>
		<tr>
			<td>Контактный номер</td>
			<td>{{user.phone}}</td>
		</tr>
		<tr>
			<td>Количество заказов</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Дата регистрации</td>
			<td>{{user.created_at | date:'dd.MM.y'}}</td>
		</tr>
	</table>
	
</div>

<div class="user-content">
	<div *ngIf="user.admin === false" class="orders">
		<h3>Заказы</h3>
		<p>На данный момент заказов нет.</p>
	</div>

	<div *ngIf="user.admin === true" class="controls">
		<h3>Управление данными</h3>
		<ul>
			<li><a routerLink="/users" routerLinkActive="active">Все пользователи</a></li>
			<li><a routerLink="/pharmacies/new" routerLinkActive="active">Добавить аптеку</a></li>
			<li><a routerLink="" routerLinkActive="active">Добавить лекарство</a></li>
		</ul>
	</div>
</div>