<div class="user-info">
	<div class="user-header">
		<div class="user-icon"></div>
		<h3>{{user.name}}</h3>
	</div>

	<table>
		<tr>
			<td>Электронный адрес</td>
			<td>{{user.email}}</td>
		</tr>
		<tr>
			<td>Контактный номер</td>
			<td>{{user.phone}}</td>
		</tr>
		<tr>
			<td>Количество заказов</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Дата регистрации</td>
			<td>{{user.created_at | date:'dd.MM.y'}}</td>
		</tr>
	</table>
	
</div>
<div class="orders">
	<h3>Заказы</h3>
	<p>На данный момент заказов нет.</p>
</div>