<div class="user-info">
	<div class="user-header">
		<img class="user-icon img-circle" src="https://secure.gravatar.com/avatar/{{gravatar}}">
		<h3>{{user.name}}</h3>
	</div>

	<table>
		<tr>
			<td>Электронный адрес</td>
			<td>{{user.email}}</td>
		</tr>
		<tr>
			<td>Контактный номер</td>
			<td>{{user.phone}}</td>
		</tr>
		<tr>
			<td>Количество заказов</td>
			<td>{{reservations.length}}</td>
		</tr>
		<tr>
			<td>Дата регистрации</td>
			<td>{{user.created_at | date:'dd.MM.y'}}</td>
		</tr>
	</table>
	
</div>

<div class="user-content">
	<div *ngIf="user.admin === false" class="orders">
		<p class="title">Заказы</p>
		<p *ngIf="reservations.length === 0">На данный момент заказов нет.</p>

		<div *ngIf="reservations.length>0">
			<div *ngFor="let reservation of reservations" class="reservation">
				<p>Благодарим Вас за заказ препарата под названием <a routerLink="/medicines/{{reservation.med_id}}" routerLinkActive="active">{{reservation.medicine}}</a> стоимостью <b>{{reservation.price}}</b> руб.</p>
				<p>Забрать лекарство можно в аптеке <a routerLink="/pharmacies/{{reservation.pharm_id}}" routerLinkActive="active">{{reservation.pharmacy}}</a> по адресу <b>{{reservation.address}}</b>.</p>
				<p>Заказ оформлен <b>{{reservation.created_at | date: 'dd.MM.yyyy'}}</b> и действителен в течении пяти дней.</p>
			</div>
		</div>
	</div>

	<div *ngIf="user.admin === true" class="controls">
		<h3>Управление данными</h3>
		<ul>
			<li><a routerLink="/users" routerLinkActive="active">Все пользователи</a></li>
			<li><a routerLink="/pharmacies/new" routerLinkActive="active">Добавить аптеку</a></li>
			<li><a routerLink="/medicines/new" routerLinkActive="active">Добавить лекарство</a></li>
		</ul>
	</div>
</div>