.atc-sub-group>p{
	font-size: 1.8em;
}

.atc-sub-group>ul{
	padding-left: 0px;
}

.atc-sub-group>ul>li{
	list-style-type: none;
}

.atc-sub-group>ul>li>.controls{
	display: inline-block;
	margin-right: 5px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	width: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

.atc-sub-group>ul>li>.controls>.glyphicon-pencil{
	margin-right: 5px;
}

.atc-sub-group>ul>li>a{
	font-size: 1.13em;
	cursor: pointer;
	text-decoration: none;
	color: #1D751A;
	display: inline-block;
}

.glyphicon{
	cursor: pointer;
}