<div class="atc-sub-group">

	<p><b>{{subGroup.code}}</b> {{subGroup.description}}</p>

	<ul>
		<li *ngFor="let medicine of medicines">
			<div class="controls" *ngIf="canChange == true">
				<span class="glyphicon glyphicon-pencil" title="Редактировать" routerLink='/medicines/{{medicine.id}}/edit' routerLinkActive="active"></span>
				<span class="glyphicon glyphicon-remove" title="Удалить подгруппу" (click)="onDestroy(subGroup); $event.stopPropagation()"></span>
			</div>
		
			<a routerLink='/medicines/{{medicine.id}}' routerLinkActive="active">
				<p>{{medicine.name}}</p>
			</a>
		</li>
	</ul>

</div>
