<div class="atc-group">

	<p><span *ngIf="canChange == true" class="glyphicon glyphicon-plus" title="Добавить подгруппу" (click)="createDialog = true"></span> <b>{{group.code}}</b> {{group.description}}</p>

	<ul>
		<li *ngFor="let subGroup of subGroups">
			<div class="controls" *ngIf="canChange == true">
				<span class="glyphicon glyphicon-pencil" title="Редактировать" (click)="updateDialog = true; newSubGroup.id = subGroup.id; newSubGroup.code = subGroup.code; newSubGroup.description = subGroup.description;"></span>
				<span class="glyphicon glyphicon-remove" title="Удалить подгруппу" (click)="onDestroy(subGroup); $event.stopPropagation()"></span>
			</div>
			<a routerLink='/{{router.url}}/{{subGroup.code}}' routerLinkActive="active">
				<p><strong>{{subGroup.code}}</strong> {{subGroup.description}}</p>
			</a>
		</li>
	</ul>

	<div *ngIf="createDialog == true" class="background" (click)="createDialog = false; onRefresh()"></div>
	<div *ngIf="createDialog == true" class="createDialog">
		<span class="glyphicon glyphicon-remove" (click)="createDialog = false; onRefresh()" title="Закрыть"></span>
		<p class="title">Добавление новой категории</p>
		<form #newsubgroup="ngForm">
			<label for="code">Код категории</label>
			<input type="text" class="form-control" id="code" required minlength="3" maxlength="3" [(ngModel)]="newSubGroup.code" name="code" #code="ngModel"/>
			<div *ngIf="code.errors && code.touched" class="alert alert-danger">
            	<div [hidden]="!code.errors.required">
	            	Введите код.
	            </div>
	            <div [hidden]="!code.errors.minlength">
	            	Длина кода: 3 символа.
	            </div>
        	</div>

			<label for="description">Название категории</label>
        	<input type="text" class="form-control" id="description" required minlength="5" [(ngModel)]="newSubGroup.description" name="description" #description="ngModel"/>
			<div *ngIf="description.errors && description.touched" class="alert alert-danger">
	            <div [hidden]="!description.errors.required">
	            	Введите название категории.
	            </div>
	            <div [hidden]="!description.errors.minlength">
	            	Минимальная длина названия: 5 символов.
	            </div>
	        </div>	

	        <button type="submit" (click)="onSubmit()" class="btn btn-success">Добавить категорию</button>
		</form>
	</div>

	<div *ngIf="updateDialog == true" class="background" (click)="updateDialog = false; onRefresh()"></div>
	<div *ngIf="updateDialog == true" class="updateDialog">
		<span class="glyphicon glyphicon-remove" (click)="updateDialog = false; onRefresh()" title="Закрыть"></span>
		<p class="title">Редактирование категории</p>
		<form #newsubgroup="ngForm">
			<label for="code">Код категории</label>
			<input type="text" class="form-control" id="code" required minlength="3" maxlength="3" [(ngModel)]="newSubGroup.code" name="code" #code="ngModel"/>
			<div *ngIf="code.errors && code.touched" class="alert alert-danger">
            	<div [hidden]="!code.errors.required">
	            	Введите код.
	            </div>
	            <div [hidden]="!code.errors.minlength">
	            	Длина кода: 3 символа.
	            </div>
        	</div>

			<label for="description">Название категории</label>
        	<input type="text" class="form-control" id="description" required minlength="5" [(ngModel)]="newSubGroup.description" name="description" #description="ngModel"/>
			<div *ngIf="description.errors && description.touched" class="alert alert-danger">
	            <div [hidden]="!description.errors.required">
	            	Введите название категории.
	            </div>
	            <div [hidden]="!description.errors.minlength">
	            	Минимальная длина названия: 5 символов.
	            </div>
	        </div>	

	        <button type="submit" (click)="onUpdate()" class="btn btn-success">Обновить категорию</button>
		</form>
	</div>

</div>
