<div class="edit-medicine">

	<div class="medicine-form">
		<form #newmedicine="ngForm">
		<label for="name">Название</label>
		<input type="text" class="form-control" id="name" required minlength="2" maxlength="25" [(ngModel)]="medicine.name" name="name" #name="ngModel"/>
		<div *ngIf="name.errors && name.touched" class="alert alert-danger">
            <div [hidden]="!name.errors.required">
            	Введите название.
            </div>
            <div [hidden]="!name.errors.minlength">
            	Минимальная длина названия: 2 символа.
            </div>
        </div>

        <label for="group">АТХ группа</label>
		<select class="form-control" id="group" required name="group" #group (click)="getSubGroups(group.value)">
			<option value="" disabled selected>Выберите лекарственную группу</option>
			<option *ngFor="let group of groups" [value]="group.code">{{group.description}}</option>
		</select>

		<label for="atc_sub_group_id">Подгруппа</label>
		<select class="form-control" required [(ngModel)]="medicine.atc_sub_group_id" name="atc_sub_group_id" #subGroup="ngModel">
			<option value="" disabled selected>Выберите подгруппу</option>
			<option *ngFor="let subGroup of subGroups" [value]="subGroup.id">{{subGroup.description}}</option>
		</select>
		<div *ngIf="subGroup.errors && subGroup.touched" class="alert alert-danger">
			<div [hidden]="!subGroup.errors.required">
            	Введите подгруппу.
            </div>
		</div>

		<label for="form">Лекарственная форма</label>
        <input type="text" class="form-control" id="form" [(ngModel)]="medicine.form" name="form" #form="ngModel" required/>
        <div *ngIf="form.errors && form.touched" class="alert alert-danger">
            <div [hidden]="!form.errors.required">
            	Введите лекарственную форму.
            </div>
        </div>

        <label for="pack">Упаковка</label>
        <input type="text" class="form-control" id="pack" [(ngModel)]="medicine.pack" name="pack" #pack="ngModel"/>

		<label for="comment">Описание</label>
		<textarea class="form-control" rows="3" id="comment" [(ngModel)]="medicine.comment" name="comment" #comment="ngModel"></textarea>

		<button type="submit" (click)="onUpdate()" class="btn btn-success">Сохранить изменения</button>
	</form>	
	</div>
	<div class="add-med">
		<h3>Изменения информации о лекарстве</h3>
		<p>Если названия препарата поменялось, либо он был внесен не в ту категорию, это можно изменить.</p>
		<p>Можно добавить или изменить описание.</p>
	</div>
</div>